{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Hakkında</h1>
    <p>Bu site, kullanıcıların sorular sormasına ve yanıtlar vermesine olanak tanıyan bir platformdur...</p>
    <p>kullanım kılavuzu:
        1- Birinci başlangıç sorusu olarak "sözlük" kullanılmalıdır.
        Bu başlık altında tıpkı bir katılımcı sözlükte olduğu gibi başlıklar açmak mümkündür.
        Herhangi bir silsileyi takip etmek zorunda olmayan bu başlıklar genel tartışmaları yürütmek yahut spesifik bir kavram üzerine konuşmak için oluşturulur. 
    </p>
</div>
{% endblock %}
