{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Yeni Mesaj</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.recipient.label_tag }}
            {{ form.recipient }}
        </div>
        <div class="mb-3">
            {{ form.subject.label_tag }}
            {{ form.subject }}
        </div>
        <div class="mb-3">
            {{ form.body.label_tag }}
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Gönder</button>
    </form>
</div>
{% endblock %}
