{% extends 'core/base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h2>Yanıtı Düzenle</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="answer_text">Yanıt:</label>
                {{ answer_form.answer_text }}
            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>
{% endblock %}
