{% extends 'core/base.html' %}

{% block title %}Kayıt Ol{% endblock %}

{% block content %}
<div class="card mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header text-center">
        <h2>Kayıt Ol</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Kayıt Ol</button>
        </form>
    </div>
    <div class="card-footer text-center">
        <a href="{% url 'login' %}" class="btn btn-link">Hesabın var mı? Giriş yap!</a>
    </div>
</div>
{% endblock %}
