/* styles.css */

/* Arama sonuçları */
#search-results {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 0;
}

#search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#search-results li {
    padding: 8px;
    cursor: pointer;
}

#search-results li:hover {
    background-color: #f0f0f0;
}


/* Alt sorular kutusu */
.alt-sorular-kutusu {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.alt-sorular-kutusu ul {
    padding-left: 0;
}

.alt-sorular-kutusu li {
    list-style-type: none;
}

/* Harita filtre arama sonuçları */
#user-search-results {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 0;
}

#user-search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#user-search-results li {
    padding: 8px;
    cursor: pointer;
}

#user-search-results li:hover {
    background-color: #f0f0f0;
}

/* Özel link stili */
.custom-link {
    color: maroon;
    text-decoration: underline;
}

/* Diğer stiller */
#search-results p,
#user-search-results p {
    padding: 8px;
    margin: 0;
}
